[Desktop Entry]
Version=1.0
Name=Mercury
Comment=Browse the World Wide Web
GenericName=Web Browser
Keywords=Internet;WWW;Browser;Web;Explorer;Mercury;
Exec=mercury-browser %u
StartupWMClass=com.alex313031.mercury
Terminal=false
X-MultipleArgs=true
Type=Application
Icon=mercury-browser
Categories=Network;WebBrowser;
MimeType=application/json;application/pdf;application/rdf+xml;application/rss+xml;application/x-xpinstall;application/xhtml+xml;application/xml;audio/flac;audio/ogg;audio/webm;image/avif;image/gif;image/jpeg;image/png;image/svg+xml;image/webp;text/html;text/xml;video/ogg;video/webm;x-scheme-handler/chrome;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/mailto;
StartupNotify=true
Actions=NewWindow;NewPrivateWindow;TempUserDir;

[Desktop Action NewWindow]
Name=New Window
Exec=mercury-browser --new-window %u

[Desktop Action NewPrivateWindow]
Name=New Private Window
Exec=mercury-browser --private-window %u

[Desktop Action TempUserDir]
Name=Open With Temporary User Profile
Exec=mercury-browser --temp-profile
